upstream app {
{% for app in groups['app'] %}
  server {{ app }};
{% endfor %}
}


server {

        listen 80;
        listen [::]:80;
        listen 443 ssl default_server;
        server_name {{ configure_nginx_server_name }};
        listen [::]:443 ssl default_server;
        ssl_certificate {{ configure_nginx_ssl_path }}cert.crt;
        ssl_certificate_key {{ configure_nginx_ssl_path }}cert.key;


        location / {
                try_files $uri $uri/ =404;
                proxy_pass http://app;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Real-IP $remote_addr;
        }
}
