<!doctype html>

<html>

<head>

<title>{{ configure_nginx_server_name }}</title>

</head>

<body>

<h1>{{ configure_nginx_server_name }}</h1>

<p>Nginx is a freely available open-source web server that can be reverse proxy, load balancing.</p>

</body>

</html>
