server {
        listen 80;
        listen [::]:80;

        root {{ configure_nginx_document_root_path }}/vh;
        index index.html index.htm index.nginx-debian.html;

        server_name {{ groups['lb'] | join() }} ;


        location / {
                try_files $uri $uri/ =404;
        }
}
